body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgba(252, 62, 62, 0.623);
}

.quem-somos {
    background-color: rgb(91, 91, 247);
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: teal;
}

.bg-footer {
    background-color: black;
    color: white;
}